.form-container {
  max-width: 400px;
  margin: 100px auto 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 100vh; /* Maksimum yüksekliği ekran yüksekliği olarak ayarlayın */
  overflow-y: auto; /* Aşağı doğru kaydırmayı etkinleştirin */
}
  
  .form-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .form-container input[type="text"],
  .form-container input[type="number"],
  .form-container select,
  .form-container textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-container textarea {
    resize: vertical;
  }
  
  .form-container input[type="file"] {
    margin-top: 5px;
  }
  
  .form-container button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-container button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  