.adopt-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
  
  .button-container button {
    margin: 30px;
    margin-top: 80%;
    padding: 80px 80px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #7e5eb1; 
    color: #ffffff;
    cursor: pointer;
  }

  .buttonDog-container button {
    background-image: url('../images/dogIcon.png');
    background-size: cover; /* Resmi buton boyutuna sığacak şekilde boyutlandırır */
    background-position: center; /* Resmi butonun ortasına yerleştirir */
  }
  
  .buttonCat-container button {
    background-image: url('../images/catIcon.jpg');
    background-size: cover; /* Resmi buton boyutuna sığacak şekilde boyutlandırır */
    background-position: center; /* Resmi butonun ortasına yerleştirir */
  }
  
  .buttonBird-container button {
    background-image: url('../images/birdIcon.jpg');
    background-size: cover; /* Resmi buton boyutuna sığacak şekilde boyutlandırır */
    background-position: center; /* Resmi butonun ortasına yerleştirir */
  }
  
  .buttonOther-container button {
    background-image: url('../images/petIcon.jpg');
    background-size: cover; /* Resmi buton boyutuna sığacak şekilde boyutlandırır */
    background-position: center; /* Resmi butonun ortasına yerleştirir */
  }
  
  .button-container button:hover {
    background-color: #0056b3; /* Örnek bir hover rengi */
  }
  