.dog-container {
    text-align: center;
    width: 50%;
  }
  
  .dog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Her sırada üç kart */
    grid-gap: 20px;
    justify-items: center;
  }
  
  .dog-card {
    background-color: #b2bde4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100px;
  }
  
  .dog-card p {
    margin: 5px 0;
  }
  