/* Home.css */

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../images/background.webp'); 
  background-size: cover; 
  background-position: center; 
}

.home-buttons {
  display: flex;
  flex-direction: center;
  position: fixed;
  top: 300px; /* Butonların yüksekliği */
  left: 50%; /* Butonların yatayda ortalanması */
  transform: translateX(-50%);
}

.home-button {
  margin: 10px; 
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  background-color: #7e5eb1;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  top: 100px;
  left: 50%;
  width: 250px;
}

.home-button:hover {
  background-color: #482e74;
}
/*#7e5eb1*/