/* Home.css */
.button-wrapper {
    text-align: center;
    margin-top: "30%";
  }
  
  .adapt-button {
    background-color: green;
    width: "100%";
    margin-top: "30%";
  }
  
  .ad-button {
    background-color: blue;
    width: "100%";
    margin-top: "30%";
  }
  