.navbar {
    width: 100%;
    height: 100px;
    background-color: #78ce7594;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .navbar div {
    margin: 0 10px;
  }
  
  .navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  