.navbar {
  width: 100%;
  height: 100px;
  background-color: #8c74b4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar div {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}
